body,
html {
	height: 100vh;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

main {
	height: 100vh;
	display: grid;
	/* gap: 15px; */
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 100px auto 70px;
	grid-template-areas:
		"header header header"
		"sidebar content ads"
		"footer footer footer";
	background-color: #fff7ed;
}

header {
	border: 1px solid blue;
	grid-area: header;
	grid-column-start: 2;
	background-color: #fff7ed;
}

article {
	border: 1px solid green;
	grid-area: content;
	background-color: #ffedd5;
}

nav {
	background-color: #fb923c;
	border: 1px solid red;
	grid-area: sidebar;
	grid-row-start: 1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 2fr;
}

nav > ul > li {
	list-style-type: none;
	padding: 8px;
}

nav > h1 {
	text-align: center;
}

.nav-links {
	grid-row-start: 2;
	grid-row-end: 3;
}

.nav-settings {
	grid-row-start: 3;
	grid-row-end: 4;
}
aside {
	border: 1px solid black;
	grid-area: ads;
	background-color: #ffedd5;
}

footer {
	border: 1px solid blueviolet;
	grid-area: footer;
	background-color: #ffedd5;
}
